<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><p translate="INTERVALS.TITLE"></p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3 translate="INTERVALS.HEADING"></h3>
  <div translate="INTERVALS.EXPLANATION"></div>

  <div class="intervals-exercise">
    <!--Arrow Left-->
    <div class="intervals-exercise-left">
      <div class="intervals-exercise-side-content" *ngIf="!nextIntervalIsUp" (click)="down()">
        <ion-icon class="intervals-arrow-icon" name="arrow-back"></ion-icon>
        <span class="interval-arrow-content">{{nextInterval}}</span>
      </div>
    </div>
    <!--Arrow Right-->
    <div class="intervals-exercise-right">
      <div class="intervals-exercise-side-content" *ngIf="nextIntervalIsUp" (click)="up()">
        <span class="interval-arrow-content">{{nextInterval}}</span>
        <ion-icon class="intervals-arrow-icon" name="arrow-forward"></ion-icon>
      </div>
    </div>
    <!--Note in the Middle-->
    <div class="intervals-exercise-middle">
      {{noteToString(currentNote)}}
    </div>

  </div>

  <div>
    <span translate="INTERVALS.DIFFICULTY"></span>
    <ion-input class="intervals-number-input"
               type="number"
               min="1"
               max="11"
               [(ngModel)]="difficulty"></ion-input>
  </div>
</ion-content>
