.intervals-exercise {
  margin: 30px 0;
  height: 90px;
}

.intervals-middle {
  overflow: hidden;
  text-align: center;
}

.intervals-left {
  width: 50px;
  height: 100%;
  float: left;
}

.intervals-right {
  width: 50px;
  height: 100%;
  float: right;
  text-align: right;
}

.interval-arrow-content {
}

.intervals-arrow-icon {
  font-size: 40px;
}
